<% layout('./include/boilerplate') -%>

<div class="row">
<div class="alert alert-danger col-6 offset-3" role="alert">
    <h4><%= err.message %></h4>
    <!-- <p><%= err.trace %></p> -->
    <p><%= err.stack %></p>
  </div>
</div>