<% layout('./include/boilerplate') -%>
<body>
    <form class="needs-validation" novalidate>
        <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="validationCustom01">First name</label>
              <input type="text" class="form-control" id="validationCustom01" placeholder="enter name" required>
              <div class="valid-feedback">
                good name!
              </div>
            </div>
     <button type="submit" >submit</button>
    </form>
</body>