<% layout('./include/boilerplate') -%>
<body>
    <div class="card">
        <div class="card__price">
            <p>12340 <br>INR</p>
        </div>
        <div class="card__image"></div>
        <div class="card__location">
            <p>HOLYDAY INN | LONDAN</p>
        </div>
        <div class="card__tittle">
            <p>Londan</p>
        </div>
    </div>
</body>