<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/navbar.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="navbar">
      <div class="navbar__left">
        <h2>StayLux</h2>
      </div>
      <div class="navbar__right">
        <a class="nav-link active" aria-current="page" href="/listings">HOME</a>
        <a class="nav-link" href="/listings/new">LISTINGS</a>
        <a href="">LOGIN</a>
        <a href="">SIGNUP</a>
        <a href=""><i class="ri-menu-3-line"></i></a>
      </div>
    </div>
  </body>
</html>
